{
  "root": true,
  "parserOptions": {
     "ecmaVersion": 2017,
     "ecmaFeatures": {
       "experimentalObjectRestSpread": true
     }
   },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true
  }
}
